<div class="category-list">
    <h2 class="text-h2">List of categories</h2>

     <!-- Selector de orden -->
  <div class="sort-container">
    <label for="sortOrder">Ordenar por:</label>
    <select id="sortOrder" (change)="onOrderChange($event)">
      <option value="asc" [selected]="order === 'asc'">Asc</option>
      <option value="desc" [selected]="order === 'desc'">Desc</option>
    </select>
  </div>

  <!-- Lista de categorías -->
  <div class="category-list">
    <div class="category-card" *ngFor="let category of categories">
      <div class="category-icon">📁</div>
      <h3 class="category-name">{{ category.categoryName }}</h3>
      <p class="category-description">{{ category.categoryDescription || 'Descripción no disponible' }}</p>
    </div>
  </div>

  <div class="pagination">
    <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 0">Previous</button>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button>
  </div>
</div>

  

  
